/.classpath
/.project
/.settings/
/.gradle/
/.gitmodules
/Home/
/bin/
/config/
/crash-reports/
/eclipse/
/homes/
/logs/
/saves/
/screenshots/
options.txt
asm/
mods/
usercache.json
build/
usernamecache.json